/* COLORS */
/* FONT */
/* line 1, ../scss/_main.scss */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 9, ../scss/_main.scss */
body {
  font: 14px sans-serif;
  color: black;
  margin-top: 10px;
}

/* line 15, ../scss/_main.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 20, ../scss/_main.scss */
ul {
  list-style-type: none;
}

/* line 24, ../scss/_main.scss */
button {
  cursor: pointer;
}

/* GRID */
/* line 30, ../scss/_main.scss */
.my-container {
  max-width: 1120px;
  margin: 0 auto;
}

/* line 35, ../scss/_main.scss */
.row {
  display: flex;
}

/* line 39, ../scss/_main.scss */
[class*="fl-cell-"] {
  flex-basis: 0;
}

/* line 43, ../scss/_main.scss */
.fl-cell-1 {
  flex-grow: 1;
}

/* line 47, ../scss/_main.scss */
.fl-cell-2 {
  flex-grow: 2;
}

/* line 51, ../scss/_main.scss */
.fl-cell-3 {
  flex-grow: 3;
}

/* line 55, ../scss/_main.scss */
.fl-cell-4 {
  flex-grow: 5;
}

/* line 59, ../scss/_main.scss */
.float-fix {
  content: "";
  display: table;
  clear: both;
}

/* line 5, ../scss/_header.scss */
.top-head .fl-cell-2 .cont-number {
  font-size: 1.5625rem;
  font-weight: normal;
  text-transform: none;
  margin: 0 30px 5px;
}
/* line 10, ../scss/_header.scss */
.top-head .fl-cell-2 .cont-number .city-code {
  color: #666666;
}
/* line 15, ../scss/_header.scss */
.top-head .fl-cell-2 .make-call {
  font-size: 1.125rem;
  font-weight: normal;
  text-transform: none;
  border-bottom: 1px dashed black;
  margin-bottom: 5px;
}
/* line 23, ../scss/_header.scss */
.top-head .row {
  align-items: flex-end;
}
/* line 29, ../scss/_header.scss */
.top-head .fl-cell-1 .row {
  justify-content: flex-end;
}
/* line 33, ../scss/_header.scss */
.top-head .fl-cell-1 .row:first-of-type {
  margin-bottom: 15px;
  color: #666666;
}
/* line 38, ../scss/_header.scss */
.top-head .fl-cell-1 .row .border-r-dot {
  padding-right: 5px;
  border-right: 1px dotted #666666;
  margin-right: 5px;
}
/* line 44, ../scss/_header.scss */
.top-head .fl-cell-1 .row .fa-shopping-basket {
  color: #c20067;
}

/* line 1, ../scss/_nav.scss */
.top-nav {
  font-size: 0.8125rem;
  font-weight: normal;
  text-transform: uppercase;
  background: black;
  opacity: 0.7;
  color: white;
  margin-top: 10px;
  padding: 10px;
}
/* line 10, ../scss/_nav.scss */
.top-nav .fl-cell-1:first-of-type {
  border-right: 1px dotted white;
}
/* line 14, ../scss/_nav.scss */
.top-nav .top-nav-li li {
  display: inline-block;
  padding: 0 15px;
}
/* line 19, ../scss/_nav.scss */
.top-nav .fl-cell-1:last-of-type {
  justify-content: flex-end;
}

/* line 25, ../scss/_nav.scss */
.info {
  background: #f0f0f0;
  color: #666666;
  padding: 10px;
  justify-content: center;
}
/* line 31, ../scss/_nav.scss */
.info .fl-cell-1 {
  flex-direction: column;
  border-right: 1px solid #666666;
  align-items: center;
}
/* line 38, ../scss/_nav.scss */
.info .fl-cell-2 a {
  padding-left: 10%;
  text-align: center;
}
/* line 44, ../scss/_nav.scss */
.info .text-up-b {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 48, ../scss/_nav.scss */
.info .text-up-l {
  font-size: 0.625rem;
  font-weight: normal;
  text-transform: uppercase;
}

/* line 53, ../scss/_nav.scss */
.breadcrumb {
  padding: 5px 0;
}
/* line 57, ../scss/_nav.scss */
.breadcrumb .breadcr li {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: none;
  float: left;
}
/* line 63, ../scss/_nav.scss */
.breadcrumb .breadcr li + li:before {
  padding: 0 5px;
  content: '>';
  color: black;
}
/* line 69, ../scss/_nav.scss */
.breadcrumb .breadcr .active-section {
  color: #666666;
}

/* line 2, ../scss/_filter.scss */
.filter h2 {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #666666;
}

/* line 1, ../scss/_sort.scss */
.sort {
  font-size: 0.625rem;
  font-weight: normal;
  text-transform: none;
  margin: 20px 0;
}
/* line 7, ../scss/_sort.scss */
.sort a {
  text-decoration: underline;
}
/* line 11, ../scss/_sort.scss */
.sort .sort-by-delivery {
  flex-direction: column;
}
/* line 14, ../scss/_sort.scss */
.sort .sort-by-delivery .items-quantity {
  float: left;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid black;
  font-weight: 600;
}
/* line 23, ../scss/_sort.scss */
.sort .sort-by-price {
  text-align: right;
}
/* line 26, ../scss/_sort.scss */
.sort .sort-by-price a:first-of-type {
  padding-right: 20px;
}

/* line 1, ../scss/_banner.scss */
.banner {
  border: 1px solid black;
  padding: 30px 30px;
  background: url(../img/banner.jpg) no-repeat;
  background-size: cover;
}
/* line 7, ../scss/_banner.scss */
.banner h1 {
  font-size: 1.5625rem;
  font-weight: 600;
  text-transform: none;
  color: #c20067;
  margin-bottom: 30px;
}
/* line 16, ../scss/_banner.scss */
.banner .section-menu li {
  padding-right: 15px;
  line-height: 20px;
  float: left;
  width: 50%;
}

/* line 1, ../scss/_items.scss */
.items {
  margin-bottom: 30px;
}
/* line 5, ../scss/_items.scss */
.items .fl-cell-1 {
  margin: 0 10px;
  position: relative;
}
/* line 10, ../scss/_items.scss */
.items .fl-cell-1:first-of-type {
  margin-left: 0;
}
/* line 14, ../scss/_items.scss */
.items .fl-cell-1:last-of-type {
  margin-right: 0;
}
/* line 18, ../scss/_items.scss */
.items .fl-cell-1 .item {
  position: relative;
  border: 1px solid white;
}
/* line 23, ../scss/_items.scss */
.items .fl-cell-1 .item .img-placeholder {
  height: 450px;
  background-image: url(../img/item.jpeg);
  background-size: cover;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
/* line 31, ../scss/_items.scss */
.items .fl-cell-1 .item .img-placeholder .to-shopping-box {
  background: linear-gradient(#e86db7, #ba3079);
  border: none;
  text-transform: uppercase;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: nowrap;
  z-index: 0;
  opacity: 0;
}
/* line 47, ../scss/_items.scss */
.items .fl-cell-1 .item .img-placeholder .item-fast-delivery {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  text-align: left;
}
/* line 55, ../scss/_items.scss */
.items .fl-cell-1 .item .img-placeholder .item-fast-delivery .item-fast-delivery-icn {
  min-width: 30px;
  min-height: 30px;
  background: rgba(255, 255, 255, 0) url(../img/clock.png) no-repeat center center;
  background-size: 15px;
  float: left;
  margin-right: 5px;
}
/* line 64, ../scss/_items.scss */
.items .fl-cell-1 .item .img-placeholder .item-fast-delivery .item-delivery-term {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: none;
  z-index: 0;
  opacity: 0;
}
/* line 74, ../scss/_items.scss */
.items .fl-cell-1 .item .item-info {
  min-height: 80px;
  position: relative;
}
/* line 78, ../scss/_items.scss */
.items .fl-cell-1 .item .item-info .item-brand {
  font-size: 1rem;
  font-weight: normal;
  text-transform: none;
  margin-bottom: 5px;
}
/* line 83, ../scss/_items.scss */
.items .fl-cell-1 .item .item-info .item-description {
  color: #666666;
  margin-bottom: 10px;
}
/* line 88, ../scss/_items.scss */
.items .fl-cell-1 .item .item-info .item-price {
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  position: absolute;
  bottom: 0;
  color: #c20067;
}
/* line 95, ../scss/_items.scss */
.items .fl-cell-1 .item .item-info .item-price .item-old-price {
  font-size: 0.75rem;
  font-weight: 400;
  text-transform: none;
  color: #666666;
  text-decoration: line-through;
  padding-left: 10px;
}
/* line 105, ../scss/_items.scss */
.items .fl-cell-1 .item .item-size {
  font-size: 1rem;
  font-weight: 600;
  text-transform: none;
  color: #c20067;
  z-index: 0;
  opacity: 0;
}
/* line 112, ../scss/_items.scss */
.items .fl-cell-1 .item .item-size .item-sizes {
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: none;
  color: black;
}
/* line 122, ../scss/_items.scss */
.items .fl-cell-1:hover .item {
  border: 1px solid #666666;
}
/* line 125, ../scss/_items.scss */
.items .fl-cell-1:hover .item .to-shopping-box {
  z-index: 1;
  opacity: 1;
}
/* line 130, ../scss/_items.scss */
.items .fl-cell-1:hover .item .item-fast-delivery {
  background-color: rgba(255, 255, 255, 0);
}
/* line 133, ../scss/_items.scss */
.items .fl-cell-1:hover .item .item-fast-delivery .item-fast-delivery-icn {
  background-color: initial;
}
/* line 137, ../scss/_items.scss */
.items .fl-cell-1:hover .item .item-fast-delivery .item-delivery-term {
  z-index: 1;
  opacity: 1;
}
/* line 143, ../scss/_items.scss */
.items .fl-cell-1:hover .item .item-size {
  z-index: 1;
  opacity: 1;
}

/* line 1, ../scss/_foot.scss */
.foot {
  background: #f0f0f0;
  padding: 15px 0 50px;
}
/* line 5, ../scss/_foot.scss */
.foot .fl-cell-1 {
  margin-right: 40px;
}
/* line 8, ../scss/_foot.scss */
.foot .fl-cell-1:last-of-type {
  margin-right: 0;
}
/* line 12, ../scss/_foot.scss */
.foot .fl-cell-1 h5 {
  color: #333333;
  line-height: 30px;
  border-bottom: 1px solid #666666;
  margin-bottom: 10px;
}
/* line 19, ../scss/_foot.scss */
.foot .fl-cell-1 .foot-menu {
  font-size: 0.75rem;
  font-weight: normal;
  text-transform: none;
  color: #666666;
  line-height: 16px;
}
/* line 26, ../scss/_foot.scss */
.foot .fl-cell-1 .foot-menu-social {
  margin-top: 10px;
}
/* line 29, ../scss/_foot.scss */
.foot .fl-cell-1 .foot-menu-social li {
  float: left;
  margin-right: 10px;
}
/* line 33, ../scss/_foot.scss */
.foot .fl-cell-1 .foot-menu-social li:last-of-type {
  margin-right: 0;
}
/* line 37, ../scss/_foot.scss */
.foot .fl-cell-1 .foot-menu-social li a img {
  width: 30px;
  height: 30px;
}
