.footer {
	background: $main-add-color;
	padding: 15px 0 50px;

	.fl-cell-1 {
		margin-right: 40px;

		&:last-of-type{
			margin-right: 0;
		}

		h5 {
			@include text-st(14px, bold);

			color: lighten($main-color, 20%);
			text-align: left;
			line-height: 5px;
			border-bottom: 1px solid $text-color;
			margin: 10px 0;
		}
	}
}

.footer-menu {
	@include text-st(12px);

	color: $text-color;
	line-height: 16px;
}

.footer-menu-social {
	margin-top: 10px;

	li {
		float: left;
		margin-right: 10px;

		&:last-of-type {
			margin-right: 0;
		}

		a img {
			width: 30px;
			height: 30px;
		}
		
	}
}