*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font: $font;
	color: $main-color;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style-type: none;
}

/* GRID */

.my-container {
	max-width: 1120px;
	margin: 0 auto;
}

.row {
	display: flex;
}

[class*="fl-cell-"] {
	flex-basis: 0;
}

.fl-cell-1 {
	flex-grow: 1;
}

.fl-cell-2 {
	flex-grow: 2;
}

.fl-cell-3 {
	flex-grow: 3;
}

.fl-cell-4 {
	flex-grow: 4;
}

.float-fix {
	content: "";
	display: table;
	clear: both;
}

@mixin text-st($size, $weight: normal, $transform: none) {
	font-size: ($size/16px)*1rem;
	font-weight: $weight;
	text-transform: $transform;
}