-
	var info = [
	{'title': 'ТРЕНДЫ И БРЕНДЫ',
	'subtitle': 'Модные женские футболки, майки и топы',
	'abstracts': ['Как там советуют все модные женские журналы – иметь в гардеробе одно маленькое черное платье, одни элегантные туфли-лодочки, одну кожаную куртку и т.д. Но футболки в этих рекомендациях обычно не упоминаются. Да и невозможно иметь всего одну тишотку в гардеробе, какой бы модной и красивой она ни была.',
		'Все, что вы хотели знать про модные женские футболки, но стеснялись спросить.',
		'Мода на стильные футболки не пройдет никогда. Ведь это один из базовых и незаменимых предметов одежды. Мы носим их круглый год.  Дома или на работе, на вечеринке или в спортзале – красивая, хорошо скроенная майка с принтом может стать основой всего образа.',
		'Кстати, кто сказал, что надписи на одежде вышли из моды? Конечно, какая-нибудь банальность в стиле «SEXY BABE» или «RED SEA DIVERS» на всю грудь вызовет только улыбку или недоумение у окружающих. Но остроумная футболка с надписью в сочетании с удачным принтом и отличным кроем – почему бы и нет?',
		'Черная или белая  майка топ уместна почти везде. Кроме встречи с финансовыми партнерами по бизнесу. Хотя…',
		'Кстати, многие селебрити признаются, что увеличили себе грудь только для того, чтобы круто смотреться в своих любимых обтягивающих майках.',
		'И еще: кто бы там что ни говорил, а лучшего комплекта на лето чем синие джинсы и белый топ еще никто не придумал!',
		{'paragraph': 'Нужна стильная футболка - у нас вы найдете именно то, что вам нужно!', 'class': 'bottom-text-str'},
		'Современные тенденции в создании летней одежды таковы, что на первый план выходят необычный крой и фактура. Но не теряют актуальности смелые принты и забавные надписи. И конечно же всегда остается актуальным вопрос качества, ведь любимую майку мы носим несколько сезонов подряд.',
		'У нас вы всегда найдете',
		{'items': ['Однотонные майки всех цветов и размеров;', 'Стильные футболки с надписями;', 'Спортивные топы;', 'Футболки для беременных;', 'Элегантные поло самых известных брендов.']},
		'Широкий выбор моделей, различные материалы, интересный дизайн, необычный и классический крой, более 600 известных брендов. Воспользовавшись удобной системой фильтров найти нужную вещь быстро не составит труда. Благодаря системе скидок и постоянных акций вам не придется испытывать муки выбора. Можно просто купить несколько понравившихся маек, и еще останутся деньги на какой-нибудь стильный аксессуар. Пригласите к нам друга, и получите на личный счет 50 гривен. Покупать на fame.ua не только приятно, но и выгодно!'
		]
		}
	]