-
	var footerMenu = [
		{'title': 'Условия',
		'items': ['Доставка', 'Возвраты', 'Условия использования сайта', 'Программа лояльности', 'Оплата', 'Замеры и размеры', 'Поставщикам']},
		{'title': 'FAQ',
		'items': ['Найди ответы на свои вопросы', 'Словарь терминов']},
		{'title': 'Бренды от А до Я',
		'items': ['Мужские', 'Женские']},
		{'title': 'Обратная связь',
		'items': ['Свяжись с нами', 'Отзывы покупателей'],
		'social': ['img/fb.png', 'img/vk.png', 'img/gplus.png', 'img/insta.png']},
	]