-
	var items = [
	{'brand': 'GLEM',
	'description': 'Футболка светло-розового цвета с принтом',
	'price': 259,
	'oldPrice': 580,
	'sizes': ['M'],
	'features': {'feature': 'Отправка через 6-10 дней после завершения акции', 'icon': 'item-fast-delivery-icn'}}
	]

-
	var buttons = [
	{'buttons': {'to-shopping-box': 'В корзину'},
	'row': 'false'},
	{'buttons': {'quick-view': 'Быстрый обзор', 'to-shop-box': 'В корзину', 'to-wishlist': 'В wishlist'}},
	{'buttons': {'quick-view': 'fa fa-search-plus fa-2x', 'to-shop-box': 'fa fa-shopping-bag fa-2x', 'to-wishlist': 'fa fa-heart fa-2x'},
	'type': 'color'},
	{'buttons': {'quick-view': 'fa fa-search fa-2x', 'to-shop-box': 'fa fa-shopping-cart fa-2x', 'to-wishlist': ['fa fa-thumbs-o-up fa-2x', 'fa fa-2x fa-thumbs-up under']},
	'type': 'fill'},
	{'buttons': {'quick-view': 'fa fa-search fa-2x', 'to-shop-box': 'fa fa-shopping-cart fa-2x', 'to-wishlist': 'fa fa-star fa-2x'},
	'type': 'color'},
	{'buttons': {'to-wish': ['fa fa-heart-o', 'fa fa-heart under']},
	'type': 'fill',
	'row': 'false'}
	]